body {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #444444;
}

h1 {
  width: 600px;
  margin: 0 auto 8px;
  font-family: "Georgia", serif;
  text-align: center;
  font-weight: normal;
  font-size: 40px;
  line-height: 64px;
}

h2 {
    text-align: center;
}

.site-header {
  min-width: 550px;
  height: 186px;
  margin-bottom: 70px;
  padding-top: 30px;
  background: #000088;
  background-size: cover;
  color: #ffffff;
}

.header-light {
  min-width: 550px;
  height: 186px;
  margin-bottom: 70px;
  padding-top: 30px;
  background: rgb(0, 90, 0);
  background-size: cover;
  color: #ffffff;
}

.header-dark {
  min-width: 550px;
  height: 186px;
  margin-bottom: 70px;
  padding-top: 30px;
  background: rgb(130, 0, 0);
  background-size: cover;
  color: #ffffff;
}

.text_question {
  text-align: center;
  width: 600px;
  font-family: "Calibri", serif;
  font-weight: normal;
  font-size: 20px;
  line-height: 100px;
}

.text_question-light {
  text-align: center;
  width: 1000px;
  font-family: "Calibri", serif;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 70px;
}

.question {
  align-self: center;
  width: 600px;
  text-align: center;
  border: 3px #1E90FF solid;
  margin-left: auto;
  margin-right: auto;
}

.question-light {
  align-self: center;
  width: 1000px;
  text-align: center;
  border: 3px rgb(0, 200, 100) solid;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

.question-dark {
  align-self: center;
  width: 1000px;
  text-align: center;
  border: 3px rgb(255, 80, 80) solid;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

.continue {
  align-self: center;
  width: 100px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
}

.button_simple-light {
  color: rgb(255, 255, 255);
  font-size: 20px;
  background: rgb(0, 150, 20);
  min-height: 50px;
  min-width: 100px;
  margin-bottom:300px;
}

.button_simple-dark {
  color: rgb(255, 255, 255);
  font-size: 20px;
  background: rgb(255, 0, 0);
  min-height: 50px;
  min-width: 100px;
  margin-bottom:300px;
}

.button_theme {
  display: inline-block;
  font-family: arial, sans-serif;
  font-size: 20px;
  max-height: 60px;
  min-height: 60px;
  max-width: 200px;
  min-width: 200px;
  margin-bottom: 25px;
  color: rgb(0, 0, 0);
  background: rgb(200, 200, 200);
  border-radius: 20px;
  border-color: rgb(0, 0, 0);
  
}
.button_simple {
    color: rgb(255, 255 ,255);
    font-size: 20px;
    background: #1E50FF;
    min-height: 50px;
    min-width: 100px;
}

.button-light {
  display: inline-block;
  font-family: arial, sans-serif;
  font-size: 20px;
  min-height: 60px;
  min-width: 800px;
  margin-bottom: 25px;
  color: rgb(0, 0, 0);
  background: rgb(200, 200, 200);
  border-radius: 20px;
  border-color: rgb(0, 0, 0);
  padding-top: 30px;
  padding-bottom: 30px;
}

.is-active{
 background: rgb(0, 100, 200);
}

.answer {
  display: none;
}

.img_div {
    text-align: center;
    align-content: center;
    align-self: center;
}

.image {
    max-height: 700px;
    max-width: 800px;
}