<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Тест на личность</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='dark.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
            crossorigin="anonymous">
    </script>
</head>
<body>
    <h1 class="header-dark">ТЕСT<br>НА ЛИЧНОСТЬ</h1>
    <h1>Вы ответили не на все вопросы!</h1>
    <form action="/dark_test">
        <div class="continue">
            <button class="button_simple-dark">Вернуться назад</button>
        </div>
    </form>
</body>
