<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Тест на личность</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='light.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
            crossorigin="anonymous">
    </script>
</head>
<body>
    <h1 class="header-light">ТЕСT<br>НА ЛИЧНОСТЬ</h1>
    <h1>Кто ты из Звездных Войн?</h1>
    <div class="img_div"><img class="image" src={{file}}></div>
    <h3 style="text-align: center; font-size: 35px">{{name}}</h3>
    <br> <br>
    <h2>Описание</h2>
    <div style="margin-left: 100px; margin-right: 100px;">
        <p1>{{text1}}</p1>
    </div>
    <br> <br>
    <h2>Характер</h2>
    <div style="margin-left: 100px; margin-right: 100px;">
        <p1>{{text2}}</p1>
    </div>
    <br> <br>
    <form action="/test_starwars">
        <div class="continue">
            <button class="button_simple-light" type="submit">Пройти заново</button>
        </div>
    </form>
</body>
