<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Тест на личность</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='light.css') }}">
    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous">
    </script>
  </head>
  <body>
    <h1 class="header">ТЕСT<br>НА ЛИЧНОСТЬ</h1>
    <h1>Кто ты из Звездных Войн?</h1>

    <form action="/end">
      <div class="question">
        <input name="question-1" type="text" class="answer" value="">
        <h2 class="text_question">1. Какой цвет вам больше нравится?</h2>
        <button class="button-var radio" type="button" value="0">Синий</button>
        <br>
        <button class="button-var radio" type="button" value="1">Зеленый</button>
      </div>

      <div class="question">
        <input name="question-2" type="text" class="answer" value="">
        <h2 class="text_question">2. Насколько вы разговорчивы в компании людей?</h2>
        <button class="button-var radio" type="button" value="0">Малословен. В основном я в роли слушателя</button>
        <br>
        <button class="button-var radio" type="button" value="1">Весьма разговорчив, активно поддерживаю беседу</button>
      </div>

      <div class="question">
        <input name="question-3" type="text" class="answer" value="">
        <h2 class="text_question">3. Вы учавствуете в важной операции. Вдруг, очень близкий вам человек попадает в беду. Ваши действия:</h2>
        <button class="button-var radio" type="button" value="0">Нарушу план, но спасу друга</button>
        <br>
        <button class="button-var radio" type="button" value="1">Продолжу выполнение плана</button>
      </div>

      <div class="question">
        <input name="question-4" type="text" class="answer" value="">
        <h2 class="text_question">4. К вам в руки попал опасный преступник. Вы очень злы на него за всю боль, которую он вам причинил. Если вы его убьете, вас не осудят. Ваши действия:</h2>
        <button class="button-var radio" type="button" value="0">Убью</button>
        <br>
        <button class="button-var radio" type="button" value="1">Предоставлю суду</button>
      </div>

      <div class="question">
        <input name="question-5" type="text" class="answer" value="">
        <h2 class="text_question">5. Ваш лучший друг перешёл на темную сторону. Его надо убить. Убьете?</h2>
        <button class="button-var radio" type="button" value="0">Долг есть долг</button>
        <br>
        <button class="button-var radio" type="button" value="1">Не убью</button>
      </div>

      <div class="question">
        <input name="question-6" type="text" class="answer" value="">
        <h2 class="text_question">6. Ваше отношение к деньгам:</h2>
        <button class="button-var radio" type="button" value="0">Деньги решают почти всё в жизни. У кого больше денег, тот победитель</button>
        <br>
        <button class="button-var radio" type="button" value="1">Меня не особо интересуют деньги</button>
      </div>

      <div class="question">
        <input name="question-7" type="text" class="answer" value="">
        <h2 class="text_question">7. Вы любите рассказывать шутки?</h2>
        <button class="button-var radio" type="button" value="0">Да, я довольно часто шучу с друзьями</button>
        <br>
        <button class="button-var radio" type="button" value="1">Бывает иногда, но в основном нет</button>
      </div>

      <div class="question">
        <input name="question-8" type="text" class="answer" value="">
        <h2 class="text_question">8. Вы любите общаться/работать с детьми?</h2>
        <button class="button-var radio" type="button" value="0">Да</button>
        <br>
        <button class="button-var radio" type="button" value="1">Нет</button>
      </div>

      <div class="question">
        <input name="question-9" type="text" class="answer" value="">
        <h2 class="text_question">9. Вас легко разозлить?</h2>
        <button class="button-var radio" type="button" value="0">Да</button>
        <br>
        <button class="button-var radio" type="button" value="1">Нет</button>
      </div>

      <div class="question">
        <input name="question-10" type="text" class="answer" value="">
        <h2 class="text_question">10. Вопрос по фильмам. Что вам больше нравится?</h2>
        <button class="button-var radio" type="button" value="0">Приквелы</button>
        <br>
        <button class="button-var radio" type="button" value="1">Оригинальная трилогия</button>
        <br>
        <button class="button-var radio" type="button" value="2">Не смотрел :(</button>
      </div>

      <div class="continue">
        <button class="button_simple" type="submit">Закончить</button>
      </div>
    </form>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
  </body>
</html>